{
"client" : "CitisimUCLM",
"broker_addr" : "mqtt.beia-telemetrie.ro",
"topic_list" : "meshliumf958/#",
"sensor_ids" :
                {
                "meshliumf958/SCP1/BAT"     :"00000001",
                "meshliumf958/SCP1/TC"      :"00000002",
                "meshliumf958/SCP1/PRES"    :"00000003",
                "meshliumf958/SCP1/HUM"     :"00000004",
                "meshliumf958/SCP1/PM1"     :"00000005",
                "meshliumf958/SCP1/PM2_5"   :"00000006",
                "meshliumf958/SCP1/PM10"    :"00000007",
                "meshliumf958/SCP2/BAT"     :"00000008",
                "meshliumf958/SCP2/TC"      :"00000009",
                "meshliumf958/SCP2/PRES"    :"00000010",
                "meshliumf958/SCP2/HUM"     :"00000011",
                "meshliumf958/SCP2/PM1"     :"00000012",
                "meshliumf958/SCP2/PM2_5"   :"00000013",
                "meshliumf958/SCP2/PM10"    :"00000014",
                "meshliumf958/SCP3/BAT"     :"00000015",
                "meshliumf958/SCP3/TC"      :"00000016",
                "meshliumf958/SCP3/PRES"    :"00000017",
                "meshliumf958/SCP3/HUM"     :"00000018",
                "meshliumf958/SCP3/PM1"     :"00000019",
                "meshliumf958/SCP3/PM2_5"   :"00000020",
                "meshliumf958/SCP3/PM10"    :"00000021",
                "meshliumf958/SCP4/BAT"     :"00000022",
                "meshliumf958/SCP4/TC"      :"00000023",
                "meshliumf958/SCP4/PRES"    :"00000024",
                "meshliumf958/SCP4/HUM"     :"00000025",
                "meshliumf958/SCP4/PM1"     :"00000026",
                "meshliumf958/SCP4/PM2_5"   :"00000027",
                "meshliumf958/SCP4/PM10"    :"00000028",
                "meshliumf958/SAP1/BAT"     :"00000029",
                "meshliumf958/SAP1/TC"      :"00000030",
                "meshliumf958/SAP1/PRES"    :"00000031",
                "meshliumf958/SAP1/HUM"     :"00000032",
                "meshliumf958/SAP1/SOIL_E"  :"00000033",
                "meshliumf958/SAP1/SOILTC"  :"00000034",
                "meshliumf958/SAP1/PM10"    :"00000035",
                "meshliumf958/GAS_WiFi2/BAT":"00000036",
                "meshliumf958/GAS_WiFi2/VOC":"00000037",
                "meshliumf958/GAS_WiFi/BAT" :"00000038",
                "meshliumf958/GAS_WiFi/O2"  :"00000039",
                "meshliumf958/GAS_WiFi/VOC" :"00000040",
                "meshliumf958/GAS_WiFi/CO"  :"00000041",
                "meshliumf958/GAS_WiFi/NO2" :"00000042",
                "meshliumf958/GAS_WiFi/PRES":"00000043"
                }
                ,
"icestorm_topics" :
                {
                "BAT"   :"Battery",
                "TC"    :"Temperature",
                "HUM"   :"Humidity",
                "PRES"  :"Pressure",
                "PM1"   :"ParticulateMatter1um",
                "PM2_5" :"ParticulateMatter2.5um",
                "PM10"  :"ParticulateMatter10um",
                "PM10"  :"ParticulateMatter10um",
                "SOIL_E":"SoilMoisture",
                "SOILTC":"SoilTemperature",
                "SD"    :"StemDiameter",
                "PAR"   :"SolarRadiation",
                "WV"    :"WindVane",
                "ANE"   :"Anemometer",
                "PLV1"  :"PluviometerCurrent",
                "PLV2"  :"PluviometerLastHour",
                "PLV3"  :"PluviometerLastDay",
                "VOC"   :"HydrocarbonsVOC",
                "O2"    :"Oxygen",
                "CO"    :"CarbonMonoxide",
                "NO2"   :"NitrogenDioxide"
                }
}
