{
"client" : "CitisimUCLM",
"broker_addr" : "mqtt.beia-telemetrie.ro",
"topic_list" : "meshliumf958/#",
"sensor_ids" :
                {
                "meshliumf958/SCP1/BAT"     :"1",
                "meshliumf958/SCP1/TC"      :"2",
                "meshliumf958/SCP1/PRES"    :"3",
                "meshliumf958/SCP1/HUM"     :"4",
                "meshliumf958/SCP1/PM1"     :"5",
                "meshliumf958/SCP1/PM2_5"   :"6",
                "meshliumf958/SCP1/PM10"    :"7",
                "meshliumf958/SCP2/BAT"     :"8",
                "meshliumf958/SCP2/TC"      :"9",
                "meshliumf958/SCP2/PRES"    :"10",
                "meshliumf958/SCP2/HUM"     :"11",
                "meshliumf958/SCP2/PM1"     :"12",
                "meshliumf958/SCP2/PM2_5"   :"13",
                "meshliumf958/SCP2/PM10"    :"14",
                "meshliumf958/SCP3/BAT"     :"15",
                "meshliumf958/SCP3/TC"      :"16",
                "meshliumf958/SCP3/PRES"    :"17",
                "meshliumf958/SCP3/HUM"     :"18",
                "meshliumf958/SCP3/PM1"     :"19",
                "meshliumf958/SCP3/PM2_5"   :"20",
                "meshliumf958/SCP3/PM10"    :"21",
                "meshliumf958/SCP4/BAT"     :"22",
                "meshliumf958/SCP4/TC"      :"23",
                "meshliumf958/SCP4/PRES"    :"24",
                "meshliumf958/SCP4/HUM"     :"25",
                "meshliumf958/SCP4/PM1"     :"26",
                "meshliumf958/SCP4/PM2_5"   :"27",
                "meshliumf958/SCP4/PM10"    :"28",
                "meshliumf958/SAP1/BAT"     :"29",
                "meshliumf958/SAP1/TC"      :"30",
                "meshliumf958/SAP1/PRES"    :"31",
                "meshliumf958/SAP1/HUM"     :"32",
                "meshliumf958/SAP1/SOIL_E"  :"33",
                "meshliumf958/SAP1/SOILTC"  :"34",
                "meshliumf958/SAP1/PM10"    :"35",
                "meshliumf958/GAS_WiFi2/BAT":"36",
                "meshliumf958/GAS_WiFi2/VOC":"37",
                "meshliumf958/GAS_WiFi/BAT" :"38"
                }
                ,
"icestorm_topics" :
                {
                "BAT"   :"Battery",
                "TC"    :"Temperature",
                "HUM"   :"Humidity",
                "PRES"  :"Pressure",
                "PM1"   :"ParticulateMatter1um",
                "PM2_5" :"ParticulateMatter2.5um",
                "PM10"  :"ParticulateMatter10um",
                "PM10"  :"ParticulateMatter10um",
                "SOIL_E":"SoilMoisture",
                "SOILTC":"SoilTemperature",
                "SD"    :"StemDiameter",
                "PAR"   :"SolarRadiation",
                "WV"    :"WindVane",
                "ANE"   :"Anemometer",
                "PLV1"  :"PluviometerCurrent",
                "PLV2"  :"PluviometerLastHour",
                "PLV3"  :"PluviometerLastDay",
                "VOC"   :"HydrocarbonsVOC"
                }
}
