IceBox.Service.IceStorm = IceStormService:createIceStorm --Ice.Config=is.config
IceBox.PrintServicesReady = IceStorm is

IceStorm.TopicManager.Endpoints = tcp -h 127.0.0.1 -p 1111
IceStorm.Publish.Endpoints = tcp -h 127.0.0.1
IceStorm.LMDB.Path = /tmp/test-mqttadapter-is-db
Freeze.DbEnv.IceStorm.DbHome = /tmp/test-mqttadapter-is-db

Ice.ThreadPool.Client.SizeMax = 10
Ice.ThreadPool.Server.SizeMax = 10
