{
"client" : "CitisimUCLM",
"broker_addr" : "mqtt.beia-telemetrie.ro",
"topic_list" : "meshliumf958/#",
"sensor_ids" :
                {
                "meshliumf958/SCP4/TC"      :"23"
                }
                ,
"icestorm_topics" :
                {
                "TC"    :"Temperature"
                }
}
