# -*- mode: config; coding: utf-8 -*-

IceBox.Service.IceStorm = IceStormService:createIceStorm --Ice.Config=tests.config
IceBox.PrintServicesReady = IceStorm is

IceStorm.TopicManager.Endpoints = tcp -h 127.0.0.1 -p 1111
IceStorm.Publish.Endpoints = tcp -h 127.0.0.1
IceStorm.LMDB.Path = /tmp/test-mqttadapter-is-db
Freeze.DbEnv.IceStorm.DbHome = /tmp/test-mqttadapter-is-db

TopicManager.Proxy = IceStorm/TopicManager -t:tcp -h 127.0.0.1 -p 1111
Adapter.Endpoints = tcp -h 127.0.0.1
