# -*- mode: config; coding: utf-8 -*-

# list of proxies
TopicManager.Proxy = IceStorm/TopicManager -t:tcp -h 127.0.0.1 -p 1111
WelcomeServer.Proxy = WelcomeServer -t:tcp -h 127.0.0.1 -p 1112
PropertyServer.Proxy = PropertyServer -t:tcp -h 127.0.0.1 -p 1113

LibCitisimAdapter.Endpoints = tcp -h 127.0.0.1
